<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task1</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/flex.css">
</head>

<body>
    
        <section id="navbar">
            <a>logo</a>
            <a>home</a>
            <a>about</a>
            <a>products</a>
            <a><select id="service" name="service">
                    <option>service</option>
                    <option>contect us.</option>
                    <option>refrences</option>
                </select></a>
            <div id="input">
                <input type="text" placeholder="search">
                <button>search</button>
            
        </section>

    </div>
    <section id="section1">
    
        <div>
            <h1 class="h">Dramaticaly Engage</h1>
                <P class="text">objectively innovated empowered manufuctured products whereas parallel platforms.</P><br>
                <button>Engage Now</button>
            </h1>
        </div>
    
    </section>

        <section id="section2">
        <B class="h">superior collabration <small>visulize quality</small></B>

            <p class="text">proactively envisioned multimedia based expertise and cross-media growth
                strategies.seamlessy visulize qulity intellectual capital without superior collabration and
                idea-sharing.
                holisticaily pontificate installed base portls after maintainable products. </p>
        </section>

    <section id="section3">
        

            <div class="card">
                <img src="../static/image/image.jpg">
                <h3> Efficiently Unleash</h3>
                <p>Collaboratively administrate empowered markets via plug-and play
                    network.Dynamically procrastinatete b2c users after installed base benefits.dramatically visualize
                    customer
                    directed convergence without revolutionary roi.</p>
            </div>
            <div class="card">
                <img src="../static/image/image.jpg">
                <h3>completely synergize</h3>
                <p>Dramatically maintain clicks-and-morter solution without functional
                    solutions.efficiently unleash cross-media.quickly maximize timely deliverables for real-time schmas.
                </p>
            </div>
            <div class="card">
                <img src="../static/image/image.jpg">
                <h3>dynamically procrastinate</h3>
                <p>professionally cultivate one-to-one customer service with robust
                    ideas.completly
                    synergize resource taxing relationships via premier niche markets.dynamically innovate
                    resource-leveling
                    customer service for state of the art customerservice.</p>
            </div>

        
    </section>
     <section id="section4">
        
            <div class="card1">
                <img src="../static/image/image.jpg">
                <h3> Dynamically Procrastinate</h3>
                <p>collaborativly administrate empowered via plud-and-play network.dynamically procrastinate b2c user
                    after
                    installed base benefits.dramatically visualize customer directed
                    convergence without revolutionary roi.
                </p><br>
                <button>procrastinate</button>
            </div>
            <div class="card1">
                <img src="design 3/static/image/image.jpg">
                <h3>efficiently unleash</h3>
                <p>Dramatically maintain clicks-and-morter solution without functional
                    solutions.efficiently unleash cross-media.quickly maximize timely deliverables for real-time schmas.
                </p>
                <br>
                <button>unleash</button>
            </div>
            <div class="card1">
                <img src="../static/image/image.jpg">
                <h3>completely synergize</h3>
                <p>professionally cultivate one-to-one customer service with robust ideas.completly
                    synergize resource taxing relationships via premier niche markets.dynamically innovate
                    resource-leveling
                    customer service for state of the art customerservice.</p><br>
                <button>synergize</button>
            </div>
        
    </section>
    <footer>

        <section id="section5">
            <a>terms and condition | privacy policy | contect</a>
            <h5>copyright example.com 2015</h5>

        </sections>
    </footer> 
</body>

</html>