<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ithra</title>
    <link rel="stylesheet" href="../static/css/bootstrap-5.3.3-dist/css/bootstrap.min.css">

    <style>
        #example {
            background-image: url(../static/image/main-section-bg-img.jpg);

        }
    </style>
</head>

<body>
    <div class="container-fluid bg-black" id="example">
        <nav class="navbar nav-underline navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">book a comandation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">FAQ</a>
                        </li>

                    </ul>
                </div>
            </div>
            <img src="../static/image/ithra-logo.png">
        </nav>

        <div class="card-fluide text-white col-12  col-sm-6 px-5">
            <h1 class="f-1">Ithra Academy</h1>
            <h5 class="my-4">Unlimited Learning</h5>
            <button type="button" class="btn btn-warning mb-5">View Calender</button>
            <br>
            <p>Designed for emerging creatives and established professional.ihra academy buildes your skills and
                empowers your passion through pioneering couresses in six domains. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Laudantium expedita sit excepturi vel odit quo molestiae provident
                corrupti consequuntur assumenda neque sapiente architecto perferendis, deleniti veniam. Ipsa odio
                mollitia odit!</p>
            <br>
        </div>

    </div>
    <div class="container-fluid bg-black col-sm-12">
        <div class="row text-white  col">
            <div class="col-sm-4 justify-content-center">
                <img src="../static/image/section-two-img.png" style="width: 100%; height: auto;">
            </div>
            <div class="col-sm-8">
                <div class="row my-5">
                    <h2>Immerse </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam error vitae odit! Quaerat
                        architecto corrupti, ab esse perferendis nisi reiciendis animi eaque nostrum laborum eum
                        possimus veniam molestiae obcaecati quia.</p>
                </div>
                <div class="row my-5">
                    <h2>Broaden</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quidem facere sunt iste, molestias
                        modi laboriosam expedita explicabo nostrum eaque sed temporibus eos suscipit voluptas! Atque ad
                        incidunt placeat a.</p>
                </div>
                <div class="row my-5">
                    <h2>Emerge</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit distinctio omnis placeat
                        expedita natus doloribus voluptatibus corporis, autem maxime repudiandae dolorum aliquid, ex
                        nihil sunt, voluptas quas eveniet sed inventore.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="album py-5 text-white bg-black">
        <div class="container-fluid">
            <h2 class="mx-3 my-4">Academy Domains</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card border-dark">
                        <img src="../static/image/section-three-img-literacy.png" class="card-img-top">
                        <div class="card-body text-white bg-dark">
                            <h2>Litercy</h2><br>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut ipsum
                                nihil, eveniet optio laboriosam est delectus rem! Quia cumque ad repellendus,
                                necessitatibus optio error recusandae, sunt omnis autem, vel tenetur?</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning mb-5">Explore Courses</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark">
                        <img src="../static/image/section-three-img-arts-design.png" class="card-img-top">
                        <div class="card-body text-white bg-dark">
                            <h2>Are & Design</h2><br>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos
                                accusamus voluptas pariatur, aliquam deserunt natus nemo beatae similique nostrum enim
                                quo, eos ipsam non voluptates quia? Fugiat, cum dolorum.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning mb-5">Explore Courses</button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark">
                        <img src="../static/image/section-three-img-science-technology.png" class="card-img-top">
                        <div class="card-body text-white bg-dark">
                            <h2>Science & Technology</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
                                temporibus vitae consequuntur corporis quisquam cum molestiae! Numquam vitae id, debitis
                                eaque nulla impedit, temporibus obcaecati reprehenderit mollitia, recusandae nihil
                                aperiam?</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning mb-5">Explore Courses</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-dark">
                        <img src="../static/image/section-three-img-creative-leadership.png" class="card-img-top">
                        <div class="card-body text-white bg-dark">
                            <h2>Creative Leadershipe</h2><br>

                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facere
                                aliquid sunt, sapiente iure vel perferendis eaque numquam? Obcaecati culpa natus
                                doloribus debitis doloremque distinctio voluptates totam! Alias, hic consequuntur.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning mb-5">Explore Courses</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark">
                        <img src="../static/image/section-three-img-film-performing-arts.png" class="card-img-top">
                        <div class="card-body text-white bg-dark">
                            <h2>Film & Performing Arts</h2><br>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel totam quam
                                molestias vitae facere, incidunt assumenda tenetur ea? Repudiandae omnis alias amet
                                obcaecati aspernatur corrupti harum consectetur aperiam ipsum nam.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning mb-5">Explore Courses</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-dark">
                        <img src="../static/image/section-three-img-music.png" class="card-img-top">
                        <div class="card-body text-white bg-dark">
                            <h2>Music</h2><br>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel totam quam
                                molestias vitae facere, incidunt assumenda tenetur ea? Repudiandae omnis alias amet
                                obcaecati aspernatur corrupti harum consectetur aperiam ipsum nam.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning mb-5">Explore Courses</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid bg-black text-white px-5 py-5 pt-0">
        <h1>Services</h1><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus debitis incidunt eaque soluta!
            Quaerat assumenda doloremque reprehenderit expedita voluptate corrupti quia facilis impedit exercitationem,
            atque ab, iusto saepe inventore.
            Minima labore facere voluptates ducimus repudiandae debitis quod corrupti? Eaque, et. Molestiae laborum
            magnam eum, recusandae corrupti ullam sit placeat tempora vitae numquam velit laudantium aspernatur
            doloribus assumenda doloremque obcaecati!
            Odit hic nihil itaque, dolorem ipsum quam maxime! Dolore, ipsum unde animi eum tempore, laboriosam maiores
            esse aliquid quisquam repellendus earum possimus delectus incidunt dolor debitis magnam accusantium veniam
            illum.</p><br>
        <ul>

            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatibus minus ducimus quod
                modi explicabo.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatibus minus ducimus quod
                modi explicabo.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatibus minus ducimus quod
                modi explicabo.</li>
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis voluptatibus minus ducimus quod
                modi explicabo.</li>
        </ul>
    </div>
    <div class="container">
        <h1>Our Partners</h1>
        <div class="container-fluid ">
            <div class="row row-sm-2 ">
                <div class="col col-md-4">
                    <div class="col g-2 py-5 px-5 "><img src="../static/image/section-five-logo.png"></div>
                    <div class="col g-2 py-5 px-5 "><img src="../static/image/section-five-logo.png"></div>

                </div>
                <div class="col col-md-4">
                    <div class="col g-2 py-5 px-5 "><img src="../static/image/section-five-logo.png"></div>
                    <div class="col g-2 py-5 px-5 "><img src="../static/image/section-five-logo.png"></div>

                </div>
                <div class="col col-md-4">
                    <div class="col g-2 py-5 px-5 "><img src="../static/image/section-five-logo.png"></div>
                    <div class="col g-2 py-5 px-5 "><img src="../static/image/section-five-logo.png"></div>

                </div>

            </div>

        </div>
    </div>
    </div>
    <div class="container-fluid bg-black">

        <form class="text-center text-white py-5">

            <h4>Subscribe to get updates on new courses</h4>

            <label for="newsletter1" class="visually-hidden">Email </label>
            <input id="newsletter1" type="text" class="form-control-sm" placeholder="Email address"><br><br>
            <button type="button" class="btn btn-warning mb-5">Subscribe</button>

        </form>

    </div>

    <div class="container-fluid  bg-black">
        <footer class="py-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 mb-3 ">

                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">contact us</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#"
                                class="nav-link p-0 text-white">imomnation:+966-13-654-6875</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">toll
                                free:800-876-567</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">info@ithra.com</a></li>

                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-3">

                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">quick links</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">about ithra
                                academy</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">courses</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">coaching</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">about ithra</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">visite ithra</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">ithra website</a>
                        </li>

                    </ul>
                </div>

                <div class="col-12 col-md-3 mb-3">

                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">quick links</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">about ithra
                                academy</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">courses</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">coaching</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">about ithra</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">visite ithra</a>
                        </li>
                    </ul>

                    </ul>
                </div>


                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top text-white">
                    <p>© 2024 Company, Inc. All rights reserved. terms & condition privecy</p>
                </div>
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.js"></script>

</body>

</html>